@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #111111;;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-outfit), arial, sans-serif;
}

@keyframes border {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.animate-border {
    background-size: 200% 200%;
    animation: border 5s linear infinite;
}
